*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: skaters;
  src: url(/skaters/Skaters.ttf);
}

body {
  background: #222;
}

.nav-item {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 1px solid #ff7171;
  padding: 10px 15px;
}

span {
  color: #ff7171;
  font-family: skaters;
  font-size: 2.5rem;
  cursor: pointer;
}

span::after {
  content: '';
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 3px;
  border-radius: 2px;
  background: #ff7171;
  transition: width 0.2s ease-out;
}

/*Quand survol du span: stylise le pseud-element ::after*/
span:hover::after {
  width: 100%;
}
